
.containerFooter{
    width: 100%;
    min-height: 20vh;
    background:  linear-gradient(to right, #0f0c29, #302b63, #24243e);;
 
}

.containerTituloFooter{
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color:#00fbff;
    display: flex;
    justify-content: center;
}